{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" type="hidden" name="username" value="{{ session['username'] }}">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="oldPassword" placeholder="Old password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="new-password" class="form-control" name="newPassword" placeholder="New password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confirmation" placeholder="Confirm new password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}