main .form-control
{
    /* center form controls */
    display: inline-block;

}

main .form-control .w-auto
{
    /* override bootstraps full width for forms */
    width:auto
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main .left
{

    text-align: left;
}

main .right
{

    text-align: right;
}

.star
{

    fill-rule:nonzero;
    fill:#FFD44D;
}