.navbar-dark .navbar-nav .nav-link
{
    color: #fff;
}

.navbar-dark .navbar-nav .nav-item.active
{
    color: #fff;
    font-weight: bold;
}

.hidden
{
    display: none!important;
}

.btn-link-own
{
    font-weight: 400;
    color: #fff;
    background-color: transparent;
}