{% extends "layout.html" %}

{% block scripts %}
    <script id="messages" type="text/template">
        {% raw -%}
            {{#each messages}}
              <div class="messageWrap" id="m_{{ id }}">
                <div class="row mt-3">
                    <div class="col-10 messageAuthor">{{ author }}</div>
                    <div class="col-1 d-flex justify-content-end">
                      <button class="delete" type="button" data-id="{{ id }}">D</button>
                    </div>
                    <div class="col-1 d-flex justify-content-end messageTime">{{ time }}</div>
                </div>
                <div class="row">
                    <div class="col messageContents">{{ contents }}</div>
                </div>
              </div>
            {{/each}}
        {%- endraw %}
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block main %}
    <main class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="nicknameModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create your cool underground nickname:</h5>
                    </div>
                    <div class="modal-body">
                        <form id="nicknameForm">
                            <div class="form-group">
                                <input autofocus class="form-control" id="usernameInput" placeholder="Nickname"
                                type="text" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" form="nicknameForm">Create</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
              <!--Channels list-->
              <div class="col-md-3 position-fixed d-none d-sm-block" id="leftMenu">
                  <label for="channelCreation">Create new channel</label>
                  <form class="form-inline my-4" id="channelCreation" action="/create_channel" method="post">
                      <label class="sr-only" for="newChannel">New channel</label>
                      <input class="form-control" type="text" id="newChannel"
                             autocomplete="off" placeholder="New channel name" maxlength="24" required>
                      <button class="btn btn-success btn-sm ml-2">+</button>
                  </form>
                  <div id="channelsList" class="menu">
                      {% for channel in channels %}
                           <div class="channel" data-name="{{ channel.name }}">#{{ channel.name }}</div>
                      {% endfor %}
                  </div>
              </div>
              <!--Channel-->
              <div class="col-md-9 ml-auto" id='messagesCol'>
                <div class="row mb-2" id="messagesRow">
                  <div id="messagesDiv"></div>
                </div>
                <div class="row" id='sendRow'>
                  <div id="sendPanel" class="mx-2 hidden">
                    <form class="text-right" id="sendMessage">
                        <div class="form-group">
                            <textarea class="form-control" rows="2"
                            id="sendMessageText" placeholder="Type your message here" required></textarea>
                        </div>
                        <button class="btn btn-primary btn-sm" type="submit">SEND</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    </main>
{% endblock %}
