.container-fluid {
  min-height: 40rem;
}

.menu {
  justify-content: flex-start;
}

.channel {
  border-radius: 3px;
  cursor: pointer;
  margin: 4px 0px;
  padding: 5px;
}

.channel.active {
  background-color: blue;
  color: white;
}

.hidden {
  display: none;
}

#leftMenu {
  padding-top: 20px;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  width: 20%
}

#leftMenuBtn {
    display: none;
}

#messagesRow {

  height: 78vh;
  overflow-y: scroll;
  align-items: flex-end;
}

#messagesDiv {

  align-items: flex-end;
  width: 95%;
}

.messageWrap {
  margin: 8px 10px 8px 16px;
}

.messageAuthor {
  display: inline-block;
  color: #3a6d99;
  font-weight: 600;
}

.messageTime {
  color: #adadad;
  font-size: .85em;
}

.messageContents {
  line-height: 150%;
  white-space: pre-wrap;
}

#sendRow {
  width: inherit;
}

#sendPanel {
  width: inherit;
}

.delete {
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {

    #leftMenuBtn {
        display: block;
    }

    .navbar-brand {
        display: none;
    }

    #leftMenu {
        transform: translateX(-100%);
    }

    #leftMenuActive {
        transform: translateX(0%);
    }

    .content_active {
        transform: translateX(70%);
    }

    #leftMenu {
        width: 70%;
    }
}
